body {
    margin: 0;
    padding: 0;
  	font: 1em normal Verdana, Arial, Helvetica, sans-serif;
 
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
}

ul{
	margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clear{
	clear: both;
}



#topnav {
   margin-bottom: 20px; 
   padding: 0; 
   list-style: none;   
   font-size: .9em;
   clear: both;
   float: left;
   width: 100%;
	background-color:rgb(30,30,30);
}
ul#topnav li{
   margin: 0; 
   padding: 0; 
   overflow: hidden; 
   float: left; 
   height:40px;
}
ul#topnav a, ul#topnav span {
   padding: 10px 40px; 
   float: left; 
   text-decoration: none; 
   color: whitesmoke;
   clear: both;
   height: 20px;
   line-height: 20px;
   background: rgb(30,30,30); 
}
ul#topnav a {   
   color: #98e6f3; 
}
ul#topnav span {
   display: none;
}

#text{
	float: left;
	width: 500px;
	line-height: 1.5;
    text-align: justify;
    margin-bottom: 30px;
}
h2 , h4{
	font-style: italic;
	
}
#slider {
width: 400px;
height: 340px;
overflow: hidden;
float: right;
	border:solid;
	border-radius: 5px;
}
#slider ul{
list-style: none;
width: 3200px;
height: 300px;
margin: 0;
padding: 0;
}
#slider li {
float: left;
width: 400px;
height: 300px;
}
.button {
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: block;
  padding: 6px;
  border: 1px solid #ccc;
  margin: 10px 0 0 0;
	border-radius: 50%;
}

.back {
  float: left;

}

.next {
  float: right;
}
.curcer{
	background-color: bisque;
}
/*****************footer*********/
footer{
    background-color: rgb(30,30,30);
    height: 70px;
    padding-top: 10px;
  	margin-top: 30px;
}
footer p{
    font-size: 14px;
    margin:10px 0 10px 20px;
    text-align: center;
	color: whitesmoke;

}
/*************Menu*********/
#menu{
	
	margin-bottom: 30px;
}
#menu img{
	margin: 0 auto;
	display: block;
}

.contact p{
	line-height: 1.5;
}
.bdy{
	margin-bottom: 300px;
}
