@charset "utf-8";
/* CSS Document */
/* general */
body {
  font-family: serif;
}
* {
  box-sizing: border-box;
}
ul,
li,
h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: auto;
  width: 90%;
}
.clear {
  clear: both;
}
.open-menu {
  display: none;
}
/* header*/
header {
  background-image: url(../images/header3.jpg);
  height: 590px;

  color: rgb(208, 33, 154);
}
#home p {
  padding: 50px 50px 20px 25px;
  font-size: 18px;
}

header #title {
  font-size: 40px;
  padding: 0px 0px 20px 25px;
}
header #subtitle {
  font-size: 22px;
  padding: 0px 0px 20px 25px;
  line-height: 1.5;
  font-style: italic;
}
/* navigation*/
.navigation {
  height: 50px;
  border-bottom: 1px solid #cfcfed;
  text-align: center;
  position: fixed;
  top: 0;
}
.navigation li {
  display: inline-block;
  margin: auto;
  padding: 15px 30px;
  opacity: 1;
}
.navigation li a {
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: #d0219a;
}
.navigation li a:hover {
  text-decoration: underline;
  color: black;
}

/* about*/
.head-sec {
  font-size: 40px;
  padding: 70px 0px 10px 0px;
  color: #d0219a;
  text-align: center;
}
.split {
  border-image: url(../images/section-divider.jpg);
  border-image-width: 50px;
  background-image: url(../images/section-divider.jpg);
  border-top: 100px;

  border-bottom: 3px #cfcfed;
  border-bottom-style: double;
}

/* education*/
#education ul {
  padding: 0px 0px 20px 40px;
  list-style-type: square;
  line-height: 2;
}

#tabs ul {
  padding: 0;
}
#tabs-1 ul li,
#tabs-2 ul li {
  color: #bf20cc;
  font-size: 18px;
  padding-bottom: 20px;
}
/*resume */
#resume {
  color: #7c7675;
  font-size: 18px;
  margin-bottom: 30px;
}
#inner {
  margin-left: 30px;
}
#resume p {
  font-size: 18px;
  line-height: 1.5;
  font-style: italic;
}
#accordion {
  width: 60%;
  margin: 0 auto;
  background-color: #deedcf;
}
#accordion div,
p,
li {
  color: #bf20cc;
  font-size: 18px;
}

/* works*/
#works {
  background: #464548;
  margin-top: 5px;
}
#works .head-sec {
  color: white;
}
#click {
  margin: 20px;
  font-size: 20px;
  color: white;
}

/*contact */
#contact p {
  color: #918b8a;
  font-size: 18px;
  padding-bottom: 20px;
}
/* footer*/
footer {
  background: #464548;
  height: 70px;
  text-align: center;
  margin-top: 20px;
}
footer p {
  padding: 20px;
  font-size: 18px;
  color: white;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
#slide1 {
  display: block;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ---------responsive web----------------- */
/* for mobile phone */
@media screen and (max-width: 400px) {
  .container {
    margin: auto;
    width: 98%;
  }

  .open-menu {
    font-size: 25px;
    padding: 5px;
    background: red;
    display: block;
  }
  header {
    background: #cfcfed;
    height: 250px;
  }

  header p {
    font-size: 18px;
    padding: 5px 10px 10px 10px;
    text-align: center;
  }
  header #title {
    font-size: 30px;
    margin-left: 15px;
  }
  header #subtitle {
    font-size: 18px;
    padding: 0px 0px 5px 5px;
    text-align: center;
  }
  /* navigation*/
  nav {
    background: #d0219a;
  }
  .navigation {
    height: 210px;
    border-bottom: 1px solid #cfcfed;
    text-align: center;
    display: none;
  }
  .navigation li {
    display: block;
    padding: 5px;
  }
  .navigation li a {
    font-size: 15px;
    color: white;
  }
  .head-sec {
    font-size: 22px;
    padding: 10px 0px 5px 0px;
    text-align: center;
  }
  .subhead-sec {
    font-size: 16px;
    padding-bottom: 5px;
  }
  #about p {
    color: #7c7675;
    font-size: 15px;
    line-height: 1.5;
  }
  /* education*/
  #tabs-1 ul li,
  #tabs-2 ul li {
    color: #bf20cc;
    font-size: 12px;
    padding-bottom: 15px;
  }

  .hoverTab {
    background-color: aquamarine;
  }
  /*resume */
  #accordion {
    width: 80%;
    margin: 0 auto;
    background-color: #deedcf;
  }
  #resume {
    color: #7c7675;
    font-size: 14px;
    margin-bottom: 5px;
  }
  #resume article {
    margin: 5px;
    width: 90%;
    padding: 5px;
  }
  #resume .head-article {
    font-size: 16px;
    color: #817a79;
  }
  #resume ul {
    padding: 5px 0px 5px 20px;
    line-height: 1.5;
  }
  #resume p {
    font-size: 14px;
    line-height: 1.5;
  }

  /* works*/
  #works .project {
    width: 90%;
    height: 300px;
  }
  #works .project img {
    height: 250px;
    width: 90%;
    margin: auto;
  }
  /*contact */
  #contact p {
    color: #7c7675;
    font-size: 16px;
    padding-bottom: 5px;
  }
  /* footer*/
  footer {
    height: 50px;
    margin-top: 10px;
  }
  footer p {
    padding: 10px;
    font-size: 16px;
  }
}
